.form-container {
    max-width: 600px;
    margin: auto;
    padding: 16px;
}

h2 {
    margin-bottom: 0;
}

.produccion-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: -20px;
}

mat-form-field.half-width {
    flex: 1;
    min-width: 2px;
}

.button-container {
    text-align: right;
}

button {
    margin-top: 8px;
}