<div class="form-container">
    <h2>Producción</h2>

    <form [formGroup]="produccionForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <mat-form-field class="half-width">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo Producto</mat-label>
                <mat-select formControlName="id_producto">
                    <mat-option *ngFor="let producto of productos" [value]="producto.id">
                        {{ producto.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="half-width">
                <mat-label>Precio (kg)</mat-label>
                <input matInput formControlName="precio_kg" type="number">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="half-width">
                <mat-label>Cantidad (kg)</mat-label>
                <input matInput formControlName="cantidad_kg" type="number" step="0.01" required>
            </mat-form-field>

            <mat-form-field class="half-width">
                <mat-label>Valor Total</mat-label>
                <input matInput [value]="valorTotal">
            </mat-form-field>

            <div class="button-container">
                <button mat-raised-button color="primary" type="submit">Guardar</button>
            </div>
        </div>
    </form>
</div>